html {
    scroll-behavior: smooth;
}
body {
    padding: 0%;
    margin: 0%;
    background:#fffaea;
    
}
#FrontPage {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
        ),
        url(devin2.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Name {
    padding-top: 250px;
    font-size: 70px;
    font-family: arial;
    color:#fffaea;
    font-weight: bold;
    text-align: center;
  }
#Name2 {    
    padding-top: 15px;
    font-size: 30px;
    font-family: arial;
    color:#fffaea;
    text-align: center;
}
.links ul{
    list-style: none;   
    padding: 0;
    margin: 0;
    text-align: right;
}
.links li{
    display: inline-block;
}
.links a{
    text-decoration: none;
    color:#fffaea;
    width:100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    text-align: center;
}
.links a:hover{
    background: #353640;
}

.sec {
    position: relative;
}
.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #202020;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 80px;
}
.sec p {
    font-size: 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    font-family: "Satoshi";
    font-size: 40px;
    height: 50vh;
    padding-left: 80px;
    padding-top: 80px;
    text-align: left;
    background-color: #fffaea;
}
.resume_header {
    font-family: "Satoshi";
    font-size: 20px;
}
#summary {
    font-family: "Satoshi";
    font-size: 20px;
    height: 30vh;
    padding: 20px 20px 20px 80px;
    text-align: left;
    background-color: #fffaea;
}
#education {
    font-family: "Satoshi";
    font-size: 20px;
    height: 60vh;
    padding: 20px 20px 20px 80px;
    text-align: left;
    background-color: #fffaea;
}
#experience {
    background-color: #fffaea;
    padding: 20px 20px 20px 80px;
    font-family: "Satoshi";
    font-size: 20px;
    text-align: left;
}
#skills {
    background-color: #fffaea;
    padding: 20px 20px 20px 80px;
    font-family: "Satoshi";
    font-size: 20px;
    text-align: left;
}
#ResumePage {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
        ),
        url(aboutdevin.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about-me {
    height: 85vh;
    display: block;
}
.about-me h8 {
  font-family: "Satoshi";
  font-size: 25px;
  font-weight: bold;
  padding-top: 50px;
  text-align: left;
  color: #353640;
}
.about-me h4 {
    font-family: "Satoshi";
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    color: #353640;
}
.about-me p {
    font-family: "Satoshi";
    font-size: 20px;
    text-align: left;
    padding: 0px 150px 0px 500px;
    color: #353640;
}
.about-me img {
    display: block;
    width: 50%;
    height: auto;
    padding: 0px 120px 0px 150px;
    float: left;
}
.services {
  height: 100vh;
  display: grid;
  font-family: "Satoshi";
  font-size: 30px;
  text-align: center;
  color: #353640;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: #fffaea;
  padding: 0px 120px 0px 120px;
  gap: 25px;
  border: #000000;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  font-family: "Satoshi";
  text-align: left;
  color: #353640;
}
.yummymath {
    height: 90vh;
    font-family: "Satoshi";
    padding: 0px 150px 0px 150px;
}
.yummymath h8 {
  font-family: "Satoshi";
  font-size: 25px;
  padding-top: 50px;
  font-weight: bold;
  text-align: left;
  color: #353640;
}
.yummymath img{
  width: 40%;
  height: auto;
  float: right;
  border: 1px solid black;
}
.yummymath h4 {
    text-align: center;
    font-size: 50px;
    color: #353640;
}
.yummymath p {
    font-family: "Satoshi";
    font-size: 20px;
    text-align: left;
    color: #353640;
    padding: 0px 575px 0px 0px;
}
.youtube-link {
  text-align: center;
  padding: 0px 0px 0px 100px;
  font-size: 40px;
}
/*timeline*/
* {
    box-sizing: border-box;
  }
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ffffff;
    border: 2px solid black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ffffff;
    border: 4px solid #6495ED;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: 2px solid #ffffff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #000000;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #000000;
    border-width: 10px 10px 10px 0;
    border-color: transparent #000000;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
    font-family: "Satoshi";
    font-size: 20px;
    color: #000000;
    border: 2px solid black;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }